.page {
  display: flex;
  min-height: 100vh;

  .navigation {
    width: 70px;
    overflow-y: auto;

    &.expanded {
      width: 200px;
    }
  }

  .content {
    flex: 1 0 auto;
    overflow: auto;
  }
}
